{% extends "nav_panel.html" %}
{% load app_buttons %}

{% block title %}
- {{ tag.fullname }} category
{% endblock %}

{% block main %}
  <div class="row" style="margin-bottom: 2em;">
    <div class="col-md-12">
      <h1>{{ tag.fullname|capfirst }}</h1>
      <p>
      <a href='https://groups.google.com/forum/?fromgroups#!searchin/integrated-genome-browser-help-desk/"{{ tag.fullname }}"' target="_blank">
        <i class="icon-comment"></i>
        Search for posts about {{ tag.fullname }} &rarr;
      </a>
      </p>
      <p>
      <a href="https://groups.google.com/forum/?fromgroups#!newtopic/integrated-genome-browser-help-desk" target="_blank">
        <i class="icon-question-sign"></i>
        Ask a question about {{ tag.fullname }} &rarr;
      </a>
      </p>
    </div>
  </div>
  {% list_of_apps apps %}
{% endblock %}
