{% load pagination %}

<div class="row" style="margin:5px;">
    <div class="col-md-6">
        <br />
        <nav aria-label="Page navigation">
            <ul class="pagination">
                {% if downloaded_apps_pg.has_previous %}
                <li class="page-item">
                    <a href="/community_fav/{{ downloaded_apps_pg.previous_page_number }}" class="page-link">
                        <i class="fas fa-angle-double-left"></i>
                    </a>
                </li>
                {% else %}
                <li class="page-item">
                    <a href="#" class="page-link">
                        <i class="fa fa-angle-double-left"></i>
                    </a>
                </li>
                {% endif %}
                {% for num in downloaded_apps_pg.paginator.page_range %}
                {% if downloaded_apps_pg.number == num %}
                <li class="page-item">
                    <a href="#" class="page-link active">{{ num }}</a>
                </li>
                {% elif num > downloaded_apps_pg.number|add:'-3' and num < downloaded_apps_pg.number|add:'3' %}
                    <li class="page-item">
                        <a href="/community_fav/{{ num }}" class="page-link">{{ num }}</a>
                    </li>
                {% endif %}
                {% endfor %}
                {% if downloaded_apps_pg.has_next %}
                    <li class="page-item">
                        <a href="/community_fav/{{ downloaded_apps_pg.next_page_number }}" class="page-link">
                            <i class="fas fa-angle-double-right"></i>
                        </a>
                    </li>
                {% else %}
                    <li class="page-item">
                        <a href="#" class="page-link">
                            <i class="fa fa-angle-double-right"></i>
                        </a>
                    </li>
            {% endif %}
            </ul>
        </nav>
    </div>
</div>